## Collaborative-based Recommendation Systems

In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

### Read the file and merge then based on movieId

In [2]:
movie_df = pd.read_csv('movies.csv')
movie_df.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
rating_df = pd.read_csv('ratings.csv')
rating_df.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
rating_df.shape , movie_df.shape

((100836, 4), (9742, 3))

In [5]:
merged_df = movie_df.merge(rating_df,on='movieId')
merged_df.head(5)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [6]:
merged_df[merged_df['userId']==1]

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
325,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247
433,6,Heat (1995),Action|Crime|Thriller,1,4.0,964982224
2107,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1,5.0,964983815
2379,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1,5.0,964982931
...,...,...,...,...,...,...
56816,3744,Shaft (2000),Action|Crime|Thriller,1,4.0,964980694
57276,3793,X-Men (2000),Action|Adventure|Sci-Fi,1,5.0,964981855
57457,3809,What About Bob? (1991),Comedy,1,4.0,964981220
59170,4006,Transformers: The Movie (1986),Adventure|Animation|Children|Sci-Fi,1,4.0,964982903
65533,5060,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,1,5.0,964984002

In [7]:
merged_df[merged_df['movieId']==1]

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
210,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,606,2.5,1349082950
211,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,607,4.0,964744033
212,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,608,2.5,1117408267
213,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,609,3.0,847221025
214,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,610,5.0,1479542900

### Get total rating for a movie

In [8]:
total_rating_df = merged_df.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating':'total_ratings'})[['title','total_ratings']]
total_rating_df

                                          title  total_ratings
0                                    '71 (2014)              1
1       'Hellboy': The Seeds of Creation (2004)              1
2                        'Round Midnight (1986)              2
3                           'Salem's Lot (2004)              1
4                     'Til There Was You (1997)              2
...                                         ...            ...
9714                            eXistenZ (1999)             22
9715                                 xXx (2002)             24
9716             xXx: State of the Union (2005)              5
9717                      ¡Three Amigos! (1986)             26
9718  À nous la liberté (Freedom for Us) (1931)              1

[9719 rows x 2 columns]

In [9]:
merged_df.shape, total_rating_df.shape

((100836, 6), (9719, 2))

In [10]:
total_rating_merged_df = merged_df.merge(total_rating_df,on='title')
total_rating_merged_df

,movieId,title,genres,userId,rating,timestamp,total_ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,215
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,215
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,215
...,...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,1
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,1
100833,193585,Flint (2017),Drama,184,3.5,1537109805,1
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,1
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,1

In [11]:
total_rating_merged_df['total_ratings'].describe()

count    100836.000000
mean         58.758777
std          61.965384
min           1.000000
25%          13.000000
50%          39.000000
75%          84.000000
max         329.000000
Name: total_ratings, dtype: float64

### Eliminate movie who are less popular but setting some threshold.

In [12]:
popularity_threshold = 45
popular_movie_df = total_rating_merged_df[total_rating_merged_df['total_ratings']>=popularity_threshold]

In [13]:
popular_movie_df.head()

,movieId,title,genres,userId,rating,timestamp,total_ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,215
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,215
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,215

### Create a pivot table to compare rating of user with movie.

In [14]:
movie_feature_table = popular_movie_df.pivot_table(index='title',columns='userId',values='rating').fillna('0')
movie_feature_table.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0,0,0,0,0,0,0,0,0,0,...,0,0,3.0,0,5.0,0,0,0,0,0
101 Dalmatians (1996),0,0,0,0,0,0,0,0,0,0,...,0,0,4.0,0,3.0,0,0,0,0,0
12 Angry Men (1957),0,0,0,5.0,0,0,0,0,0,0,...,5.0,0,0,0,0,0,0,0,0,0
2001: A Space Odyssey (1968),0,0,0,0,0,0,4.0,0,0,0,...,0,0,5.0,0,0,5.0,0,3.0,0,4.5
28 Days Later (2002),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3.5,0,5.0

In [15]:
popular_movie_df[popular_movie_df['title']=='10 Things I Hate About You (1999)']

,movieId,title,genres,userId,rating,timestamp,total_ratings
45292,2572,10 Things I Hate About You (1999),Comedy|Romance,12,5.0,1247263689,54
45293,2572,10 Things I Hate About You (1999),Comedy|Romance,19,3.0,965706365,54
45294,2572,10 Things I Hate About You (1999),Comedy|Romance,68,4.5,1158534664,54
45295,2572,10 Things I Hate About You (1999),Comedy|Romance,92,5.0,1294941782,54
45296,2572,10 Things I Hate About You (1999),Comedy|Romance,104,5.0,1048586179,54
45297,2572,10 Things I Hate About You (1999),Comedy|Romance,111,4.0,1516153699,54
45298,2572,10 Things I Hate About You (1999),Comedy|Romance,132,4.0,1157923396,54
45299,2572,10 Things I Hate About You (1999),Comedy|Romance,153,1.0,1525552933,54
45300,2572,10 Things I Hate About You (1999),Comedy|Romance,158,3.5,1290764961,54
45301,2572,10 Things I Hate About You (1999),Comedy|Romance,177,4.5,1435534583,54
45302,2572,10 Things I Hate About You (1999),Comedy|Romance,182,4.0,1055155150,54
45303,2572,10 Things I Hate About You (1999),Comedy|Romance,198,1.0,1034136443,54
45304,2572,10 Things I Hate About You (1999),Comedy|Romance,200,5.0,1229876838,54
45305,2572,10 Things I Hate About You (1999),Comedy|Romance,219,2.0,1194827089,54
45306,2572,10 Things I Hate About You (1999),Comedy|Romance,236,5.0,943015019,54
45307,2572,10 Things I Hate About You (1999),Comedy|Romance,249,3.5,1356550212,54
45308,2572,10 Things I Hate About You (1999),Comedy|Romance,260,4.5,1109409279,54
45309,2572,10 Things I Hate About You (1999),Comedy|Romance,274,3.0,1171511625,54
45310,2572,10 Things I Hate About You (1999),Comedy|Romance,275,4.0,1049076805,54
45311,2572,10 Things I Hate About You (1999),Comedy|Romance,280,4.0,1347605102,54
45312,2572,10 Things I Hate About You (1999),Comedy|Romance,286,3.0,1119561590,54
45313,2572,10 Things I Hate About You (1999),Comedy|Romance,298,2.5,1476632985,54
45314,2572,10 Things I Hate About You (1999),Comedy|Romance,307,0.5,1186084248,54
45315,2572,10 Things I Hate About You (1999),Comedy|Romance,316,3.0,1111493683,54
45316,2572,10 Things I Hate About You (1999),Comedy|Romance,325,3.0,1039398213,54
45317,2572,10 Things I Hate About You (1999),Comedy|Romance,354,4.0,1200953334,54
45318,2572,10 Things I Hate About You (1999),Comedy|Romance,356,4.0,1232431172,54
45319,2572,10 Things I Hate About You (1999),Comedy|Romance,358,4.0,1339546490,54
45320,2572,10 Things I Hate About You (1999),Comedy|Romance,365,4.0,1488333453,54
45321,2572,10 Things I Hate About You (1999),Comedy|Romance,370,3.5,1159164372,54
45322,2572,10 Things I Hate About You (1999),Comedy|Romance,414,4.0,961436469,54
45323,2572,10 Things I Hate About You (1999),Comedy|Romance,432,3.5,1315242726,54
45324,2572,10 Things I Hate About You (1999),Comedy|Romance,453,5.0,1005967028,54
45325,2572,10 Things I Hate About You (1999),Comedy|Romance,457,4.0,993610838,54
45326,2572,10 Things I Hate About You (1999),Comedy|Romance,474,2.5,1087832512,54
45327,2572,10 Things I Hate About You (1999),Comedy|Romance,480,2.5,1179178848,54
45328,2572,10 Things I Hate About You (1999),Comedy|Romance,483,2.5,1215895855,54
45329,2572,10 Things I Hate About You (1999),Comedy|Romance,484,4.0,1342296830,54
45330,2572,10 Things I Hate About You (1999),Comedy|Romance,489,4.5,1332705170,54
45331,2572,10 Things I Hate About You (1999),Comedy|Romance,500,3.0,1005527406,54
45332,2572,10 Things I Hate About You (1999),Comedy|Romance,509,3.5,1435992697,54
45333,2572,10 Things I Hate About You (1999),Comedy|Romance,525,4.0,1476477617,54
45334,2572,10 Things I Hate About You (1999),Comedy|Romance,538,3.5,1307846099,54
45335,2572,10 Things I Hate About You (1999),Comedy|Romance,542,3.5,1163388443,54
45336,2572,10 Things I Hate About You (1999),Comedy|Romance,555,3.0,978746874,54
45337,2572,10 Things I Hate About You (1999),Comedy|Romance,563,3.5,1441846344,54
45338,2572,10 Things I Hate About You (1999),Comedy|Romance,564,3.0,1478453983,54
45339,2572,10 Things I Hate About You (1999),Comedy|Romance,575,2.0,926510403,54
45340,2572,10 Things I Hate About You (1999),Comedy|Romance,583,5.0,1481474408,54
45341,2572,10 Things I Hate About You (1999),Comedy|Romance,597,3.0,940420065,54
45342,2572,10 Things I Hate About You (1999),Comedy|Romance,599,3.0,1498522997,54
45343,2572,10 Things I Hate About You (1999),Comedy|Romance,600,3.0,1237708482,54
45344,2572,10 Things I Hate About You (1999),Comedy|Romance,603,3.0,953925933,54
45345,2572,10 Things I Hate About You (1999),Comedy|Romance,605,5.0,1277095714,54

#### Here, We have used Nearest neighbour un-supervised learning. That based on cosine similarity are very effective to find recommendation based on a particular movie.

In [16]:
movie_feature_table = movie_feature_table.apply(pd.to_numeric, errors='coerce')
movie_knn = NearestNeighbors(metric='cosine', algorithm='brute')
movie_knn.fit(movie_feature_table)

NearestNeighbors(algorithm='brute', metric='cosine')

In [17]:
query_index = np.random.choice(movie_feature_table.shape[0])
query_index

361

In [18]:
movie_feature_table.iloc[query_index]

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
606    2.0
607    0.0
608    0.0
609    0.0
610    3.5
Name: Pirates of the Caribbean: Dead Man's Chest (2006), Length: 608, dtype: float64

In [19]:
movie_feature_table.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0

#### Function that take index from movie_feature_table to find give n closest recommendation to user for it.

In [20]:
def recommendation_sys(query_index,recom_no=6):
    dist,index = movie_knn.kneighbors(movie_feature_table.iloc[query_index,:].values.reshape(1, -1), n_neighbors = recom_no)
    for i in range(0, len(dist.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(movie_feature_table.index[query_index]))
        else:
            print('{0}: {1}, with distance of {2}:'.format(i, movie_feature_table.index[index.flatten()[i]], dist.flatten()[i]))

In [22]:
recommendation_sys(query_index=3,recom_no=2)

Recommendations for 2001: A Space Odyssey (1968):

1: Blade Runner (1982), with distance of 0.3292643457846741: